.btn-icons {
    display: flex;
    justify-content: center;
}
.card-header {
    flex-direction: column;
    align-items: center;
}

.icon-size {
    font-size: 1.3rem;
}

.icon-size:hover {
    color: #063c8d !important;
}

.input-group>.input-group-left:not(input) {

    border-color: rgba(0,86,179, 0.1);
}

.whith-full{
    width: 100%;
}

.login-remember {
    font-size: 0.8rem;
}
.login-button:hover{
    color: #063c8d !important;
}

.login-icon--between {
    width: 0.7rem;
}
.text-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-account {
    text-decoration: none;
}

.login-forgot {
    margin-top: 5px;
    text-decoration: none;
}

.login-link--black {
    font-size: 0.7rem;
    
}
.login-link--black:visited,
.login-link--black:link {
    color: #707070;
}
.login-link--black:hover {
    color: #063c8d;
}